<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iss.nus.medipal">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddICEActivity"
            android:label="@string/title_activity_add_ice" />
        <activity
            android:name=".activity.ManageICEActivity"
            android:label="@string/title_activity_manage_ice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.EditICEActivity" />
        <activity
            android:name=".activity.ManageReminderActivity"
            android:label="@string/title_activity_manage_reminder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddReminderActivity"
            android:label="@string/title_activity_add_reminder" />
        <activity android:name=".activity.EditReminderActivity"></activity>

        <activity android:name=".activity.ManagePersonalBioActivity" />
        <activity android:name=".activity.ManageMeasurementActivity" />
        <activity android:name=".activity.ManageHealthBio" />
        <activity android:name=".activity.AddHealthBio" />
        <activity android:name=".activity.AddMeasurement" />
        <activity
            android:name=".activity.AddAppointmentActivity"
            android:label="Add Medical Appointment" />
        <activity
            android:name=".activity.ManageAppointmentActivity"
            android:label="Manage Medical Appointment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditAppointmentActivity"
            android:label="Edit Medical Appointment" />

        <activity
            android:name=".activity.AddConsumptionActivity"
            android:label="Add Medicine Consumption" />

        <activity
            android:name=".activity.ManageConsumptionActivity"
            android:label="Manage Medicine Consumption"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.EditConsumptionActivity"
            android:label="Edit Medical Consumption" />

        <activity
            android:name=".activity.AddCategoryActivity"
            android:label="@string/title_activity_add_category" />
        <activity
            android:name=".activity.ManageCategoryActivity"
            android:label="@string/manage_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.EditCategoryActivity" />

        <activity
            android:name=".activity.ManageMedicineActivity"
            android:label="@string/manage_medicine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddMedicineActivity"
            android:label="Add Medicine" />
        <activity android:name=".activity.EditMedicineActivity"></activity>

        <receiver
            android:name=".notification.NotificationPublisher"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>